<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> 
   <div style="height:85vh;">
  <mat-toolbar color="#fff">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>Account</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item >
          <mat-icon>Sign-in</mat-icon>
          <span>Sign-in</span>
        </button>
        <button mat-menu-item>
          <mat-icon>Items</mat-icon>
          <span>Saved Items</span>
        </button>
      </mat-menu>
      
    
      <span class="pol">Lorem ipsum dolor sit amet.</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="50" fxFlex.xs="100">
            <!-- Content for the first column -->
          </div>
          <div fxFlex="50" fxFlex.xs="100">
            <!-- Content for the second column -->
          </div>
        </div>
        
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Home</a>
        <a href="#" mat-button>Categories</a>
        <a href="#" mat-button>Shop Now</a>
        <!-- <div class="input-group">
          <mdb-form-control>
            <input #input mdbInput type="search" id="form1" class="form-control">
            <label mdbLabel class="form-label" for="form1">Search</label>
          </mdb-form-control>
          <button type="button" class="btn btn-primary" (click)="search(input.value)">
            <i class="fas fa-search"></i>
          </button>
        </div> -->
        <a href="#" mat-button>Add to cart</a>
        <!-- <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Home</a>
        <a href="#" mat-list-item>Categories</a>
        <a href="#" mat-list-item>Shop Now</a>
        <a href="#" mat-list-item>Add to cart</a>
        <!-- <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a> -->
      </mat-nav-list>
    </mat-sidenav> 
    <!-- <mat-sidenav-content fxFlexFill> -->
      
      <!-- <mat-list role="list"> -->
        <!-- <h1>CATEGORIES</h1>
        <mat-list-item role="listitem">SHOE</mat-list-item>
        <mat-list-item role="listitem">Bag</mat-list-item>
        <mat-list-item role="listitem">Clothing</mat-list-item>
        <mat-list-item role="listitem">Flat</mat-list-item>
        <mat-list-item role="listitem">Heels</mat-list-item>
        <mat-list-item role="listitem">Children's Wear</mat-list-item>
      </mat-list> -->

  
    <mat-list>
      <h1>Categories</h1>
      <a href="#"><mat-list-item>All</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Men Shoes</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Hand Bags</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Clothing</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Sneakers</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Laptop Bag</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Flat</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Platform</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Sleepwear</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>T-Shirt</mat-list-item></a>
      <mat-divider></mat-divider>
      <a href="#"><mat-list-item>Polo</mat-list-item></a>
      <mat-divider></mat-divider>







    </mat-list>
  <!-- </mat-sidenav-content> -->
  
  </mat-sidenav-container> 

</div>




</body>
</html>