<!-- <div class="flex-grid" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutWrap>

	<ng-container *ngFor="let product of products">

		<div fxFlex.xs="0 0 100%" fxFlex.sm="0 0 50%" fxFlex.md="0 0 33.3%" fxFlex.lg="0 0 25%" fxFlex.xl="0 0 20%" class="flex-grid-tile">

			<a fxFlex matRipple href="" class="flat-card">

				<div fxLayout.xs="row" fxLayout="column">

					<div fxFlexAlign="top">

						<img ngClass.xs="mat-card-md-image" ngClass.gt-xs="mat-card-image" [lazyLoad]="getImagesSrcSet(product.image, [{ size: '100/100', query: '600w' }])" [useSrcset]="true">

					</div>

					<div fxFlex fxFlexAlign="center none" class="flat-card-block">

						<span mat-card-title>{{product.name}}</span>

						<section mat-card-block class="price">
							<small matLine>
						    <s>R$ {{ product.price }}</s>
					    </small>
							<br>
							<strong>R$ {{ product.price }}</strong>
							<small><p>ou em até 10x de R$ {{ product.price / 10 }}</p></small>
						</section>

						<div fxShow fxHide.lt-md mat-card-block>
							<mat-divider></mat-divider>
							<p>{{ product.description }}</p>
						</div>

					</div>

				</div>

				<div fxFlexAlign="right">
			<button mat-icon-button><mat-icon>more_vert</mat-icon></button>
		</div> -->

			<!-- </a>
		</div>

		<mat-divider></mat-divider>

	</ng-container>

	<mat-card style="display:none"> -->
		<!-- This is kinda hack, it makes angular apply some card styles in the custom HTML -->
	<!-- </mat-card>

</div>

<span class="version-info">Current build: {{ version.full }}</span> -->




<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license --> -->
